
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/skeleton.css">

<div class="container">
    <div class="row">

        <div class="twelve columns box">
            <h3>Bill with settings</h3>
            <div class="">
                Select the call or sms radio button. Update the appropriate total and the overall total when the ADD button in pressed.
                <i>Calls costs should now be configurable using the settings section.</i>
            </div>
            <div class="">
                <i>If the total cost exceed the warning level show the total cost in orange, if it exceeds the critical level
                    show it in red and prevent any new costs from being added. The warning and critical level should both
                    be configurable now.
                </i>
            </div>

            <hr> {{{body}}}
        </div>
    </div>
</div>
